{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static 'webshop/img/logo_icon.png' %}">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'webshop/css/bootstrap.min.css' %}">

<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'webshop/css/font-awesome.min.css' %}">

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'webshop/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'webshop/css/style.css' %}">
<link rel="stylesheet" href="{% static 'webshop/css/responsive.css' %}">

<!-- yamap -->
<link rel="preconnect" href="//api-maps.yandex.ru">
<link rel="dns-prefetch" href="//api-maps.yandex.ru">
<meta name="yandex-verification" content="1b662f44ddbddf21">
